.asgard .scanit {
	float: left;
}

.asgard .scan-result {
	clear: both;
	margin-top: 4em;
}

.asgard .scan-result .alert {
	display: inline-block;
}

.asgard-scan-progress {
	display: none;
	padding-top: 11px;
	margin-left: 5px;
}

.asgard-blacklist-icon {
	margin-right: 4px;
	position: relative;
	top: 3px;
}

.asgard .blacklist-table {
	width: 40% !important;
}

.asgard .text-right {
	text-align: right;
}

.asgard .unlock {
	text-decoration: none;
	float: right;
}

.asgard .unlock-status {
	font-size: 13px;
	float: right;
}
